/* Resets */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px 15px;
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url(Assets/header-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  color: #eee;
  font-size: 4vw;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  background: #fff;
  transition: all 0.3s linear;
  transform: translate(100%);
}

.sidebar-on {
  transform: translate(0%);
}

.menu-items-container {
  margin-top: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menu-items-container li {
  padding: 0 15px;
}

.menu-items-container a {
  color: #222;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 50px;
}

.menu-items-container li::after {
  content: "";
  display: block;
  margin: 2.5rem 0;
  width: 100%;
  height: 1px;
  background-color: #999;
}

.menu-items-container a:hover::after {
  content: "";
  width: 30%;
  transition: width 0.4s ease;
}

.find-shop {
  text-align: right;
  list-style: none;
  display: flex;
  justify-content: center;
}

.find-shop li {
  margin: 0 5px;
}

.find-shop a {
  text-decoration: none;
  padding: 5px 10px;
  border: 2px #111 solid;
  border-radius: 50px;
}

.white-btn {
  color: #111;
}

.white-btn:hover {
  background-color: #111;
  color: #fff;
}

.black-btn {
  color: #fff;
  background-color: #111;
}

.black-btn:hover {
  color: #111;
  background-color: #fff;
}

main {
  margin-top: 20px;
}

.about-us-container {
  padding: 25px;
}

.about-us-container h2 {
  padding: 10px 5px;
}

.about-us-container p {
  padding: 10px 0;
}

.more-about-btn-container {
  display: flex;
  justify-content: flex-end;
}

.more-about-btn {
  margin-top: 50px;
  background-color: beige;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  color: #222;
}

.menu-containers {
  max-height: 100%;
  background: #999;
}

.menu-containers h2 {
  padding: 10px 30px;
  margin-top: 75px;
}

.cold-drinks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.drinks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border: 2px #111 solid;
  border-radius: 10px;
}

.drinks-list img {
  width: 75%;
}

.drink-details {
  text-align: center;
}

.drink-details h3 {
  padding: 20px 0;
}

.drink-details p {
  padding: 0 9px;
  padding-bottom: 20px;
}

/* Media Querry 786px min-width */
